
body {
  background-image: url(background2.jpg);
  margin-left: 5%;
  margin-right: 5%;
}

.ScrollItem {
  height:100px;
  width:50%;
  overflow:hidden;
  overflow-y:scroll;
  margin-right: auto;
  margin-left: auto;

}

.center {
  text-align: center;
  list-style-position: inside;
}


img {
  float: none;
  height:15%;
  width: 15%;
  margin: auto;
  display: block;
  align-items: center;
  }


hr {
  width:100%;
  height:3px;
  background-color: white;
}

h1 {
  color: #ADD8E9;
  font-size: 5vw;
  font-family:fantasy;
  text-align:center;
  -webkit-text-stroke: 2px black;
}

h3 {
  color: #B0E0E6;
  font-size: 3.5vw;
  font-family:fantasy;
  text-align: center;
  -webkit-text-stroke: 1px black;
}

h4 {
  color: #B0E0E6;
  font-size: 3vw;
  font-family: fantasy;
  text-align: center;
  -webkit-text-stroke: 0.5px black;
}


p {
  font-size: 20px;
  font-size: 2vw;
  font-family:fantasy;
  text-align: center;
  }

li {
  font-size: 20px;
  font-size: 2vw;
  font-family:fantasy;
  text-align: left;
}

ol, ul {
  display: inline-block;
}


form {
    margin: 0 auto;
}

input {
    display: block;
    margin : 0 auto;
    font-size: 1vw;
    font-family:Ariel;
    text-align: left;

}
